<!-- begin navbar-header -->
<div class="navbar-header">
    <a href="index.html" class="navbar-brand"> DAGAZ - ultimate board game system</a>
    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<!-- end navbar-header -->